# settings to ensure DB is reachable from outside the container (WordPress)
# connection refused / timeout without these

# declare config section for MySQL server daemon (mysqld)
[mysqld]

# tells MariaDB to listen on all network interfaces
# 127.0.0.1 only listens on localhost
bind-address=0.0.0.0

# ensures networking is enabled (=1 disables TCP connections)
skip-networking=0